---
import BaseLayout from '../layouts/BaseLayout.astro';

import Footer from '../components/Footer.astro';


const pageTitle = "About";

const identity = {
  companyName: "Elevate Digital",
  
};


---

<BaseLayout title={pageTitle}>
   
	<main class="w-full h-screen justify-center flex flex-col items-center">  
		<h1 class="font-bold text-xl">This is the <span class="text-6xl">{pageTitle}</span><br/> page for <span class="text-sky-600 text-6xl">{identity.companyName}</span></h1>
	</main>
</BaseLayout>