---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Elevate Digital Blog";
---

<BaseLayout pageTitle={}>
		<h1 class="font-bold text-xl">This will be the   <span class="text-6xl text-sky-600">Blog</span> page</h1>
        <ul class="flex flex-col text-base font-semibold   mt-6 space-y-4">
          
           {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
          </ul>
</BaseLayout>