--- 
---
<div id="hamburger" class="cursor-pointer pr-5 flex lg:hidden">
    <span class="block w-10 h-1.5 mb-2.5 bg-stone-700"></span>
    <span class="block w-10 h-1.5 mb-2.5 bg-stone-700"></span>
    <span class="block w-10 h-1.5 mb-2.5 bg-stone-700"></span>
  </div>