---
import Hamburger from "./Hamburger.astro";
import Nav from "./Nav.astro";
---

<header class="top fixed z-50 flex w-full">
    <nav class="w-full flex">
        <Hamburger/>
        <Nav/>
    </nav>
</header>