---

---
<div class="flex text-xl justify-between text-neutral-700 w-full py-4 px-12  bg-white font-bold uppercase">
    <span class="flex items-center">Elevate Astro</span>
    <div id="nav-links" class="flex space-x-12 ">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
</div>
</div>