---
import Navbar from "../components/Navbar.jsx";
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  
  <body class="w-full flex flex-col items-center ">
    <Navbar client:load/>
    <main class="justify-center pb-24 flex flex-col h-screen">
    
    <slot/>
    


    <script>
      import "../scripts/menu.js";
    </script>
   
    </main>
     <Footer/>
    
  </body>
</html>